<%= render 'layouts/nav' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <h1 class="main-header"><i class="fa fa-lemon-o" id="huge_logo_icon"></i>Squeezeee</h1>
        <h4 class="tagline">Track transactions. Moniter spending. Save money. Easy. Squeezeee.</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="left-content">
        <h3>Personal accountability.</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="http://placehold.it/385x280" id="app_image" class="center-block img-responsive">
    </div>
  </div>
  <hr id="landing_page_hr">
  <p>Squeezeee is made by Kevin Fitzhenry, and was heavily inspired by Brills, made by Dan Eden.</p>
</div>
