// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*******************************
        LANDING PAGE
*******************************/
@import "_vars";

* {
  font-family: $main-font;
}
.main-header {
  font-size: 6.5em;
  padding: 60px 0 40px 0;
}

#huge_logo_icon {
  margin-right: 20px;
}

.tagline {
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 0 120px 0;
}

#landing_page_hr {
  margin: 50px 0 10px 0;
}

.left-content {
  width: 80%;
  margin-left: 100px;
  h3 {
    margin-top: 0;
  }
  p {
    line-height: 25px;
    font-weight: 200;
  }
  .btn {
    margin-top: 30px !important;
  }
}
